@charset "UTF-8";

.jcsa {
  justify-content: space-around;
}

.center {
  height: 100vh;
  padding-top: 110px;
  font-size: 2rem;
}

.pt-100 {
  padding-top: 100px !important;
}

ul li{
  list-style-type: none;
} 

.bold{
  font-weight: bold;
}

.ml-30{
  margin-left: 30px;
}

.fs-2{
  font-size: 2rem !important;
}

.w-m{
  width: 60%;
  margin: 0 auto;
}
.aic{
	align-items: center;
}

.omikuji .form-group{
  padding: 20px;
}

.jcc{
	justify-content: center;
}

.infos{
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.create{
  margin: 10px auto;
  width: 60%;
}

.form_this span{
  color: red;
  display: block;
  margin: 10px 0;
}

.omikuji{
  border-radius: 1%;
  border: 1px solid #ced4da;
}

.st{
  margin: 0 auto;
  width: 42%;
  font-size: 1.2rem;
}

.pd-0-10{
  padding: 0px 10px;
}
.shadow-custom{
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.781) !important;
}

table td{
  vertical-align: middle;
}

table thead tr th{
  vertical-align: top;
}